@import "./variables";

header {
  height: 90vh;
  min-height: 800px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  h1 {
    padding: 20px;
    font-weight: bold;
    width: 100vw;
    height: 90px;
  }

  #header-projects {
    margin: 0px 50px;
  }

  .card {
    h3 {
      width: 100%;
      color: $white-color;
    }

    &-icon {
      height: 260px;
      width: 260px;
      background-color: rgba(0, 0, 0, 0.5);
      border: 3px solid $white-color;
      border-radius: 10px;
      margin: 40px 0px;
      padding: 3px;
    }
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      color: $white-color;
    }
  }
}

//about me section
#about-me-section {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(/Images/scroll-bg.png);
  height: 1300px;
  width: 100vw;
  background-position: center;
  background-size: 1100px;
  background-repeat: no-repeat;

  #about-me-text {
    width: 65%;
  }
}

//featured skills section

#featured-skills-section {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  justify-content: normal;
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  text-align: center;

  #featured-skills-header {
    grid-area: 1 / 1 / 2 / 4;
    margin-top: 40px;
  }

  #skills-programming-section {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  #skills-programming-header {
    grid-area: 1 / 1 / 2 / 4;
    margin-bottom: 40px;
  }

  #programming-skill-one {
    grid-area: 2 / 1 / 3 / 2;
  }

  #programming-skill-two {
    grid-area: 2 / 3 / 3 / 4;
  }

  #programming-skill-three {
    grid-area: 3 / 2 / 4 / 3;
  }

  #programming-skill-four {
    grid-area: 4 / 1 / 5 / 2;
  }

  #programming-skill-five {
    grid-area: 4 / 3 / 5 / 4;
  }

  #skills-professional-section {
    grid-area: 2 / 3 / 3 / 4;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
  }

  #skills-professional-header {
    grid-area: 1 / 1 / 2 / 4;
    margin-bottom: 40px;
  }

  #professional-skill-one {
    grid-area: 2 / 1 / 3 / 2;
  }

  #professional-skill-two {
    grid-area: 2 / 3 / 3 / 4;
  }

  #professional-skill-three {
    grid-area: 3 / 2 / 4 / 3;
  }

  #professional-skill-four {
    grid-area: 4 / 1 / 5 / 2;
  }

  #professional-skill-five {
    grid-area: 4 / 3 / 5 / 4;
  }

  #featured-skills-text {
    grid-area: 3 / 1 / 4 / 4;
    margin-top: 25px;
  }
}
