@import "./variables";

.project-page-card {
  background-color: $black-color;
  background-image: none;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding: 10px;
  margin: 30px;

  &:hover {
    filter: none;
  }

  img {
    width: 100%;
    height: auto;
  }

  ul {
    display: flex;
    justify-content: center;
    align-content: center;

    a {
      padding: 3px 5px;
      margin: 7px 5px;
      background-color: rgba(217, 217, 217, 1);
      border-radius: 8px;
      border: 2.5px solid $black-color;
      font-family: $font-family-header;
      font-weight: bold;
      font-size: 0.85rem;
    }
  }
}
