#skill-list {
  height: auto;
  margin-bottom: 400px;
}

.skill-page-card {
  background-image: none;
  background-color: $brown-color;
  margin: 10px;
  height: auto;

  img {
    width: 100%;
  }

  ul {
    display: flex;
    justify-content: center;
    align-content: center;

    a {
      padding: 3px 5px;
      margin: 7px 5px;
      background-color: rgba(217, 217, 217, 1);
      border-radius: 8px;
      border: 2.5px solid $black-color;
      font-family: $font-family-header;
      font-weight: bold;
      font-size: 0.85rem;
    }
  }

  &:hover {
    filter: none;
  }
}
