$header-bg-color: rgba(119, 119, 119, 0.54);
$white-color: rgb(255, 255, 255);
$brown-color: rgba(102, 75, 35, 1);
$black-color: black;
$grey-color: rgba(119, 119, 119);
$border-brown-color: rgba(43, 20, 20, 0.85);
$beige-color: rgb(241, 200, 164);
$font-family-header: "Aboreto", cursive;
$font-family-text: "EB Garamond", serif;
