@import "./resets";
@import "./variables";
@import "./about";
@import "./projects";
@import "./skills";

html {
  font-size: 20px;
  width: 100%;
}

body {
  background-image: url(/Images/cobblestone-bg.jpg);
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-header;
  color: $white-color;
}

.card {
  width: 378px;
  height: 600px;
  //color: white;
  border: 17px solid $border-brown-color;
  background-image: url(/Images/cobblestone-bg.jpg);

  &:hover {
    filter: brightness(120%);
  }

  h3 {
    background-color: $border-brown-color;
    margin: 15px 0px;
    padding: 10px 0px;
  }

  p {
    background-color: rgba(43, 20, 20, 0.85);
    width: auto;
    padding: 20px;
  }
}

p {
  font-family: $font-family-text;
}

//header

header {
  text-align: center;
  height: auto;
  background-image: url(/Images/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  h1 {
    background-color: $header-bg-color;
    color: $white-color;
    font-family: $font-family-header;
  }

  a {
    display: none;
  }
}

//navbar

nav {
  background-color: $brown-color;
  border: 2px solid $black-color;
  border-left: 0px;
  border-right: 0px;
  position: sticky;
  top: 0px;
  height: 2rem;
  z-index: 1;

  ul div {
    display: flex;
    flex-flow: row;
    list-style: none;
    align-items: center;
    width: auto;
    justify-content: center;
    align-items: center;

    a {
      padding: 3px 5px;
      margin: 2px 5px;
      background-color: rgba(217, 217, 217, 1);
      border-radius: 8px;
      border: 2.5px solid $black-color;
      font-family: $font-family-header;
      font-weight: bold;
      font-size: 0.85rem;
    }
  }
}

//about me section

#about-me-section {
  background-color: rgb(241, 200, 164);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  #about-me-header {
    margin: 20px 0px;
    color: $black-color;
  }

  #about-me-img {
    width: 300px;
    height: auto;
    border-radius: 150px;
    border: 7px solid rgba(43, 20, 20, 0.85);
  }

  #about-me-text {
    margin: 10px;
  }

  #about-me-link {
    border: 2px solid black;
    padding: 10px 30px;
    margin: 10px;
    text-decoration: none;
    background-color: rgba(43, 20, 20, 0.85);
    color: white;
    border-radius: 5px;

    &:hover {
      background-color: rgba(43, 20, 20, 1);
    }
  }
}

//skills section

#featured-skills-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/Images/WW.001.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: black;
  color: $white-color;

  #featured-skills-header {
    margin: 10px;
  }

  .skill-section {
    text-align: center;
  }

  h3 {
    margin: 15px;
  }

  .skill-card {
    width: 76px;
    height: 100px;
    object-fit: cover;
    border: 2px solid $white-color;
    margin: 3px;

    &:hover {
      filter: brightness(140%);
    }
  }
}

//featured projects section

#featured-projects-section {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    background-color: $border-brown-color;
    padding: 5px 24px;
    margin: 15px;
  }

  .project-card {
    background-color: $grey-color;
    background-image: none;
    color: $white-color;

    img {
      width: 100%;
    }
  }
}
