* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

header {
    text-align: center;
    width: 100%;
    height: 50rem;
    background-color: rgb(15, 2, 51);
    display: grid;
    grid-template-columns: auto auto 3rem auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
}

h1 {
    color: white;
    grid-area: 2 / 2 / 2 / 5;
    
}

.header-card {
    background-color: white;
    width: 23rem;
    height: 30rem;
    text-decoration: none;
    color: black;

}

img.header-card {
    height: auto;
    width: 3rem;
}

#header-skills {
    grid-area: 3 / 2 / 4 / 3;
}

#header-projects {
    grid-area: 3 / 4 / 4 / 5;
}

nav {
    background-color: black;
}

ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    list-style: none;
}

li {
    width: 7rem;
    height: 2rem;
    margin: 1rem 1rem;
    border: 1px solid white;
    text-align: center;
    padding: .5rem 0rem;
}

li a {
    text-decoration: none;
}