body {
    background-color: black;
    width: 100%;
    overflow: hidden;
}

main {
    display: grid;
    grid: repeat(3, 200px) / repeat(3, 200px);
    justify-content: center;
    align-content: center;
    width: 100%;

}

h2 {
    color: white;
    width: 100%;
    grid-area: 2 / 1 / span 1 / span 3;
    text-align: center;
    font-size: 35px;
}
