* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 20px;
}

/*Main Header Section*/

body {
    width: 100vw;
    background-image: url(/Images/cobblestone-bg.jpg);
    overflow-x: hidden;
    background-attachment: fixed;
}

header {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url(/Images/header-bg.jpg);
    display: grid;
    grid-template-columns: auto auto 3vw auto auto;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
}

h1 {
    color: white;
    grid-area: 1 / 1 / 2 / 5;
    width: 100vw;
    background-color: rgba(119, 119, 119, 0.54);
    position: absolute;
    top: 0;
    padding: 3vh 0vw;
    
}

.header-card {
    background-color: white;
    width: 24vw;
    min-width: 378px;
    height: 76vh;
    text-decoration: none;
    color: white;
    background-color: rgba(71, 53, 27, 0.3); /*not working*/
    border: 3vh solid rgba(43, 20, 20, 1);
    background-image: url(/Images/cobblestone-bg.jpg);
    margin: 12vh 0vw 7vh 0vw;
    
}

.card-icon {
    height: 30vh;
    width: 30vh;
    background-color: rgba(0, 0, 0, 0.5);
    border: .5vh solid rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin: 8vh 0vh;
}

#header-skills {
    grid-area: 3 / 2 / 4 / 3;
}

#header-projects {
    grid-area: 3 / 4 / 4 / 5;
}

/*Nav Bar Section*/

nav {
    background-color: rgba(102, 75, 35, 1);
    border: .5vh solid black;
    position: sticky;
    top: 0px;
}

ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: center;
    list-style: none;
}

li {
    width: 9vw;
    min-width: 140px;
    height: 7vh;
    margin: 1vh;
    background-color: rgba(217, 217, 217, 1);
    border: 6px solid rgba(43, 20, 20, 1);
    border-radius: 10px;
    text-align: center;
    padding: 1.5vh 0px;
}

li a {
    text-decoration: none;
}

/*About Me Section*/

#about-me-section {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    width: 75vw;
    height: 165vh;
    background-image: url(/Images/scroll-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10%;
    
}

#about-me-header {
    text-align: center;
    grid-area: 1 / 2 / 2 / 3;
    margin-top: 12%;
}

#about-me-img {
    width: 500px;
    height: auto;
    grid-area: 2 / 2 / 3 / 3;
}

#about-me-text {
    grid-area: 3 / 2 / 4 / 3;
    width: 65%;
}

#about-me-link {
    grid-area: 4 / 2 / 5 / 3 ;
}

/*Featured Skills Section*/

#featured-skills-section {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: 100vw;
    height: 110vh;
    text-align: center;
    background-image: url(/Images/WW.001.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    color: white;

}

.skill-card {
    width: 76px;
    height: 100px;
    object-fit: cover;
}

#featured-skills-header {
    grid-area: 1 / 1 / 2 / 4;
    margin-top: 10vh;
}

#skills-programming-section {
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
}

#skills-programming-header {
    grid-area: 1 / 1 / 2 / 4;
    margin-bottom: 10vh;
}

#programming-skill-one {
    grid-area: 2 / 1 / 3 / 2;
}

#programming-skill-two {
    grid-area: 2 / 3 / 3 / 4;
}

#programming-skill-three {
    grid-area: 3 / 2 / 4 / 3;
}

#programming-skill-four {
    grid-area: 4 / 1 / 5 / 2;
}

#programming-skill-five {
    grid-area: 4 / 3 / 5 / 4;
}

#skills-professional-section {
    grid-area: 2 / 3 / 3 / 4;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: auto auto auto auto;
}

#skills-professional-header {
    grid-area: 1 / 1 / 2 / 4;
    margin-bottom: 10vh;
}

#professional-skill-one {
    grid-area: 2 / 1 / 3 / 2;
}

#professional-skill-two {
    grid-area: 2 / 3 / 3 / 4;
}

#professional-skill-three {
    grid-area: 3 / 2 / 4 / 3;
}

#professional-skill-four {
    grid-area: 4 / 1 / 5 / 2;
}

#professional-skill-five {
    grid-area: 4 / 3 / 5 / 4;
}


#featured-skills-text {
    grid-area: 3 / 1 / 4 / 4;
    margin-top: 10vh;
}

/*Featured Projects Section*/

#featured-projects-section {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: auto auto;
    height: 100vh;
    text-align: center;
}

#featured-projects-header {
    grid-area: 1 / 1 / 2 / 4;
}

.project-card {
    background-color: white;
    max-width: 40vw;
    margin: 0px 10vh;
}

.project-card h3, p {
    margin-top: 3vh 10%;
    width: 30vw;
}

.project-img {
    width: 100%;
}

#featured-projects-one {
    grid-area: 2 / 1 / 3 / 2;
}

#see-more-projects {
    grid-area: 2 / 2 / 3 / 3;
    align-self: center;
}

#featured-projects-two {
    grid-area: 2 / 3 / 3 / 4;
}

/*Footer Section*/

footer {
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

#footer-links-section {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

#footer-links-header {
    grid-area: 1 / 1 / 2 / 3;
}

#footer-links-one {
    grid-area: 2 / 1 / 3 / 2;
}
#footer-links-two {
    grid-area: 2 / 2 / 3 / 3;
}

#footer-links-three {
    grid-area: 3 / 1 / 4 / 2;
}

#footer-links-four {
    grid-area: 3 / 2 / 4 / 3;
}

#footer-back-to-top-section {
    grid-area: 1 / 2 / 2 / 3;
}